main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-fullwidth {
  position: relative;
  width: 100%;
  z-index: 1;
}

.container-content {
  position: relative;
  z-index: 2;
  background: white; /* Ensure the content has a background */
  display: flex;
  padding: 5px;
  flex-direction: column;
  text-align: left;
  gap: 10px 0px;
  width: fit-content;
  min-height: 80vh;
}

.carousel .slide .legend {
  opacity: 0.8;
  font-size: calc(14px + 1vmin);
}

.carousel-caption {
  bottom: auto;
  background: rgba(0, 0, 0, 0.1);
}

.carousel-caption-text {
  color: red;
}

.main {
  margin-top: 1000px;
}

@media (min-width: 992px) {
  .carousel-fullwidth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .container-content {
    position: relative;
    z-index: 2;
    background: white; /* Ensure the content has a background */
  }

  .main {
    margin-top: 0;
  }
  
}

.main-section-text {
  text-align: justify;
}
