
.header {
  font-size: calc(10px + 1vmin);
  padding: 5px;
  position: relative;
  z-index: 10;
}

@media (min-width: 992px) {
  .header {
    position: relative;
    z-index: 10;
  }
}


.office-info {
  width: fit-content;
  font-size: calc(7px + 1vmin);
  background: rgb(0, 0, 0, 0.70);
  color: white;
  text-align: justify;
  margin: 5px;
}

/* Header.css */
/* .navbar {
  border-bottom: 2px solid black;
} */

.nav-link {
  position: relative;
  color: black;
  padding-bottom: 5px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: #007bff; /* Change this to the desired highlight color */
}
